{% extends "base.html" %}
{% load static %}

{% block title %}Acerca De{% endblock %}

{% block content %}
<h1>Acerca de...</h1>
<hr>
<p>Esta es la página acerca de de la librería local.</p>
<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Logo de Python" width="500"
    height="500">
<iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}