{% extends "base.html" %}

{% block title %}Detalle de libro{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <a href="{% url 'detalle-autor' book.pk %}">{{ book.author }}</a>
        <p class="card-text">{{ book.summary }}</p>
        <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p class="card-text"><strong>Lenguaje:</strong> {{ book.language }}</p>
        <p class="card-text"><strong>Género:</strong> {{ book.genre.all|join:", " }}</p>
        <a href="{% url 'lista-libros' %}" class="btn btn-outline-success">Volver al listado</a>
    </div>
</div>

Ejemplares disponibles: {{ book.bookinstance_set.all.count }}

{% for b in book.bookinstance_set.all %}
<li>{{ b.get_status_display }} ({{b.status}})</li>
{% endfor %}

{% endblock %}